@font-face {
    font-family: 'JetBrains Mono';
    font-style: normal;
    font-weight: 400;
    font-display: auto;
    src: url(fonts/JetBrainsMono-Regular.woff2) format('woff2');
}

.image-small {
    max-width: 400px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.image-medium {
    max-width: 600px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.image-large {
    max-width: 800px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.wrapper {
    display: grid;
    grid-template-columns: 1fr min(104ch, calc(100% - 48px)) 1fr;
    /*grid-column-gap: 24px;*/
    grid-row-gap: 0;
}
.wrapper > * {
    grid-column: 2;
}
.full-bleed {
    width: 100%;
    grid-column: 1 / 4;
}

.scrollbar-hide::-webkit-scrollbar {
    display: none;
}

/* For IE, Edge and Firefox */
.scrollbar-hide {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

:root {
    color-scheme: dark;
}
