.image-small {
    max-width: 400px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.image-medium {
    max-width: 600px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.image-large {
    max-width: 800px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}